@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dosis:wght@200;400&family=Lobster&family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Ubuntu:ital@1&display=swap');

/* Cores #ffebc1 #8e3200  */
/* Fontes 
font-family: 'Carter One', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
body {
  background-color: #d7a86e;
  margin-left: 40px;
  margin-right: 40px





}

header {



  background-color: #ffebc1;
  
  border-radius: 20px;
  border-style: outset;
  border-color: 2px 2px 2px 2px #B31312;
 



}

.article{
  font-family: 'Ubuntu', sans-serif;
  font-size: 13pt;
  line-height: 25px;
  font-weight: bold;
  color: white;
  text-align: center;


}

.titulo-produto{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: inherit;
  font-size: 16pt;
  color: #966d34;
  text-align: left;
  line-height: 1px;
  text-shadow: 2px #978975;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: #ffebc1;
  

  
  

}
.tituloheader {

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: inherit;
  font-size: 16pt;
  color: #966d34;
  text-align: left;
  line-height: 1px;
  text-shadow: 2px #978975;
  padding-top: 20px;
  padding-left: 10px;

}


.subtitulo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: inherit;
  font-size: 14pt;
  color: #966d34;
  text-align: left;
  line-height: 1px;
  text-align: left;
  text-shadow: 2px #978975;
  padding-left: 10px;
  padding-top: 50px;



}



ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  
  

  





}

li {
 padding-left: 20px;
 margin-bottom: 5px;
 
 
}

li:last-child {
  border-left: none;
}

li a,
.dropbtn {
  display: block;
  font-size: 12pt;
  font-family: 'Ubuntu', sans-serif;
  color: #966d34;
  font-style: inherit;
  text-decoration: none;

  font-weight: bold;
  text-transform: uppercase;

}



a:hover {
  background-color: #d7a86e;
  color: white;

}

.imagens1 {
  height: 200px;
  margin-top: 1px;
  box-shadow: 1px 1px 1px 1px #ffebc1;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

}
.imagens1:hover{
  opacity: 0.5;
}

.p1 {
  padding-left: 20px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  color: white;
  font-weight: lighter;


}

.imagens2 {
  height: 200px;
  margin-top: 1px;
  box-shadow: 1px 1px 1px 1px #ffebc1;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

}
.imagens2:hover{
  opacity: 0.5;
}

.p2 {
  padding-left: 20px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  color: white;
  font-weight: lighter;
}

.imagens3 {
  height: 200px;
  margin-top: 1px;
  box-shadow: 1px 1px 1px 1px #ffebc1;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

}
.imagens3:hover{
  opacity: 0.5;
}

.p3 {
  padding-left: 20px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  color: white;
  font-weight: lighter;
}


footer {



  background-color: #ffebc1;

  border-radius: 20px;
  border-style: outset;
  border-color: #d7a86e;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  /* position: relative; */
  



}


address{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.rodape {
position: absolute;
text-align: center;
font-family: 'Ubuntu', sans-serif;
color: #966d34;
font-style: unset;
font-weight: bold;
padding-top: 40px;
text-decoration: none;
margin-bottom: 80px;
/* left: 400px;
bottom: 10px; */
}

.endereco{
  /* position: absolute;
  left: 15px; */
  font-family: 'Dosis', sans-serif;
  
color: #966d34;
font-style: unset;
font-weight: bold;
margin-bottom: 20px;

 
}
/* Estilos Catalogo */

.responsive{


display: flex;
flex-direction:row;
justify-content: center;
gap: 300px;
align-items: center;


}


/* Estilos Quem Somos */

/* .coluna{
  float: left;
 


} */


.row{
display: flex;
flex-direction: row;
justify-content: left;
align-items: end;
gap: 4px;

}

.coluna.imagem{
width: 35%;
background-color: #ffebc1;
padding: 10px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
height: 620px;


}

.coluna.quemsomos{
width: 60%;
background-color: #ffebc1;
padding: 10px;
border-radius: 20px;
margin-left: 10px;
height: 620px;

}



.tituloquemsomos{
  font-family: 'Roboto', sans-serif;
  color: #966d34;
  font-size: 18pt;
  font-weight: 900;
  text-align: center;
  

}

.paragrafo{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 15pt;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 14px;


}


/* Estilo Formularios */

.container{

  border: 5px solid #ffebc1;
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 20px;


}

input[type=text], select, textarea{
width: 98%;
padding: 12px;
border: 5px solid #ffebc1;
border-radius: 20px;
/* resize: vertical; */

}

label {
  padding: 12px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  font-weight: 900;
  color: #ffebc1;
}

button{
  margin-top: 12px;
  width: 100px;
  height: 50px;
  border: 5px solid #d7a86e;
  border-radius: 20px;
  color: black;
}
/* Estilo Gifs */


@media screen and (max-width: 600px) {
  .coluna.imagem, .coluna.quemsomos, ul, li, .responsive, .tituloquemsomos, .paragrafo, .footer, address, h4{
    width: 95%%;
  }
}



